body {
    text-align: center;
    font-family: "Happy Monkey", system-ui;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(#a2d2ff, #efb0c9) ;
    color: #ffff;      
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, h4, p {
    text-shadow: 0px 0px 1px black;
}

#main-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #efb0c9;
}

#Bio {
    background: #efb0c9;
    padding: 5px  10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}
 #grad-date {
    margin: 0;
    background: #efb0c9;
    padding: 5px 10px;
    border-radius: 5px;
 }
     


#Header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-content {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

.gift-img {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url(/Images/gift-box.jpg);
    background-size: cover;
    background-size: contain;
}

#gift-img-congrats:hover {
    background-image: url(/Images/Grad.GIFs.gif) ;
}

#gift-img-boss:hover {
    background-image: url(/Images/Like\ A\ Boss\ Money\ GIF.gif) ;
}


#gift-img-generous:hover {
    background-image: url(/Images/Money\ Paper\ GIF.gif) ;
}




#gift-img-badass:hover {
    background-image: url(/Images/Walk\ Away\ Badass\ GIF.gif);
}

#gift-img-cheers {
    height: 200px;
}

#gift-img-cheers:hover{
    background-image: url(/Images/Cheers\ GIF.gif);
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto, 20px;
}

a {
    color: white;
}